In [13]:
import pandas as pd
import numpy as np

In [14]:
fruit = pd.DataFrame({'Num':[123, 456, 789, 1011, 1112], 'Fruit':['Apple', 'Banana', 'Cherry', 'Lemon', 'Peach']})
grade = pd.DataFrame({'Num':[123, 789, 1314], 'Grade':['A', 'B', 'C']})

print(fruit)
print(grade)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011   Lemon
4  1112   Peach
    Num Grade
0   123     A
1   789     B
2  1314     C

In [9]:
pd.merge(fruit, grade, on = 'Num', how = 'left')

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   Peach   NaN

In [38]:
fruit = pd.DataFrame({'Num':[123, 456, 789, 1011, 1112], 'Fruit':['Apple', 'Banana', 'Cherry','0','0']})
fruit = fruit.replace('0', np.NaN)
fruit_list = pd.DataFrame({'Num':[123,7777,456,789, 1011, 1112], 'Fruit':['Apple', 'Pear','Banana', 'Cherry', 'Lemon', 'Peach']})

print(fruit)
print(fruit_list)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011     NaN
4  1112     NaN
    Num   Fruit
0   123   Apple
1  7777    Pear
2   456  Banana
3   789  Cherry
4  1011   Lemon
5  1112   Peach

In [39]:
# 'Num' 열을 인덱스로 설정하지 않고, 'Num' 열에 대응되는 'fruit_list'의 'Fruit' 값을 가져옵니다. -> 성공
fruit['Fruit'] = fruit['Fruit'].fillna(fruit['Num'].map(fruit_list.set_index('Num')['Fruit']))

print(fruit)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011   Lemon
4  1112   Peach

In [29]:
pd.merge(fruit, fruit_list, on = 'Num', how = 'left')

    Num Fruit_x Fruit_y
0   123   Apple   Apple
1   456  Banana  Banana
2   789  Cherry  Cherry
3  1011     NaN   Lemon
4  1112     NaN   Peach

In [30]:
fruit['Fruit'] = fruit['Fruit'].combine_first(fruit_list['Fruit'])
print(fruit)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011  Cherry
4  1112   Lemon

In [ ]:
fruit = pd.DataFrame({'Num':[123, 456, 789, 1011, 1112], 'Fruit':['Apple', 'Banana', 'Cherry','0','0']})
fruit = fruit.replace('0', np.NaN)
fruit_list = pd.DataFrame({'Num':[123,7777,456,789, 1011, 1112], 'Fruit':['Apple', 'Pear','Banana', 'Cherry', 'Lemon', 'Peach']})

print(fruit)
print(fruit_list)

In [ ]:
# 두 데이터프레임을 'Num'과 'Num1' 열을 기준으로 병합
merged = pd.merge(fruit, fruit_list, on=['Num', 'Num1'], how='left')

# 병합된 데이터프레임에서 각 열의 NaN 값을 채움
for column in merged.columns:
    if column.endswith('_x'):
        merged[column].fillna(merged[column.replace('_x', '_y')], inplace=True)

# 불필요한 열 제거
merged = merged[merged.columns.drop(list(merged.filter(regex='_y')))]

# 열 이름 변경
merged.columns = merged.columns.str.replace('_x', '')

print(merged)